html, body {
  height: 100%;
  margin: 0;
  background: #eee;
  font-family: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}

header {
  border-bottom: 1px solid #ccc;
}

header > .wrapper {
  width: 960px;
  height: 64px;
  margin: 0 auto;
  text-align: center;
}

svg {
  display: inline-block;
  height: 32px;
  padding: 16px 8px;
}

path {
  fill: #000;
  stroke-width: 0;
  transition: all .2s linear;
}

h1 {
  display: inline-block;
  font-size: 32px;
  line-height: 1;
  margin: 0;
  padding: 16px 8px;
  vertical-align: top;
}

h2 {
  border-top: 1px solid #F6F6F6;
  margin: 0;
  padding: 12px;
  font-size: 24px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  font-family: 'Source Code Pro', 'Menlo', 'Consolas', monospace;
  line-height: 2;
  font-size: 20px;
}

span {
  display: none;
}