html, body {
  height: 100%;
  margin: 0;
  font-family: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}

nav, footer {
  position: absolute;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  text-align: center;
  font-size: 0;
  z-index: 1;
}

nav {
  top: 0;
}

footer {
  bottom: 0;
}

nav a, footer a {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  line-height: 1;
  margin: 1em;
  padding-bottom: 4px;
  color: #666;
}

nav a[href], footer a[href] {
  border-bottom: 1px solid #ccc;
}

nav a:hover, footer a:hover {
  color: #000;
  border-bottom-color: #000;
}

header {
  height: 50%;
  position: relative;
  background: radial-gradient(ellipse 400px 100px at bottom center, #dedede, #fff);
}

header > .wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 800px;
  margin-left: -400px;
  text-align: center;
}

svg {
  display: inline-block;
  width: 300px;
}

path {
  fill: #000;
  stroke-width: 0;
  transition: all .2s linear;
}

header strong {
  display: block;
  font-size: calc(300px / 9);
  padding-top: 10px;
  margin: 0 0 20px;
  line-height: 1;
}

main::before {
  content: '';
  display: block;
  height: 1px;
  background: radial-gradient(circle 500px, #b6b6b6, #fff);
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 600px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
  line-height: 3;
  font-family: 'Source Code Pro', 'Menlo', 'Consolas', monospace;
}

li {
  flex: 1 1 30%;
  font-size: 16px;
  position: relative;
}

span {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: #D9F;
  line-height: 1;
}
